<!DOCTYPE html>
<html lang="en">
 <head> {{!-- landing page --}}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OnlyFlags</title> 
     <script src="https://cdn.tailwindcss.com"></script>
     <link rel="stylesheet" href="../style.css">
     
    {{{body}}}
    <div class="bg-white h-screen py-24 sm:py-32 ">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    
    <div class="">
        <button type="submit" class="flex absolute top-9 right-8 rounded-md bg-indigo-300 px-5 py-2.5 text-lg font-semibold leading-6 text-grey shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Login </button>
    </div>

    <div class="absolute top-5 left-6 w-12 h-12"> <!-- Adjust width and height as needed -->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"><g data-name="15-Flag"><path d="M29 50h8v4h-6a2.006 2.006 0 0 1-2-2zM37 48v2h-8v-4h8v2zM29 42h8v4h-8zM37 38v4h-8v-2a2.006 2.006 0 0 1 2-2h6z" style="fill:#ff975c"/><path d="M39.9 46.88A4.682 4.682 0 0 1 37 48V38a1.959 1.959 0 0 1 2-2h5a1.959 1.959 0 0 1 2 2h3v14h-3a1.959 1.959 0 0 1-2 2h-4v-7z" style="fill:#ff975c"/><path d="M37 48a4.682 4.682 0 0 0 2.9-1.12l.1.12v13a3 3 0 0 1-6 0v-6h3v-6zM40 32v4h-1a1.959 1.959 0 0 0-2 2h-3v-6z" style="fill:#c1cfe8"/><path d="M34.17 7.83a4.008 4.008 0 0 0 5.66 0L40 8v24h-6V8z" style="fill:#e63b47"/><path d="M37 1a4 4 0 1 1-4 4 4 4 0 0 1 4-4z" style="fill:#8394b2"/><path d="M40.83 5.83A4 4 0 0 1 34 3a4.036 4.036 0 0 1 .071-.708A3.979 3.979 0 0 0 33 5a3.994 3.994 0 0 0 7.928.71c-.035.038-.062.083-.098.12z" style="fill:#5c6979"/><path style="fill:#edf4fa" d="M55 37v16h-6V37h6z"/><path style="fill:#4989f4" d="M55 37h8v16h-8z"/><path style="fill:#96272e" d="M21 13h-4V9l4 4z"/><path style="fill:#d13641" d="M34 9v22H21V13l-4-4h17z"/><path style="fill:#e63b47" d="M21 31v4H1l7-11-7-11h20v18z"/><path d="M53 37v11a2 2 0 0 1-2 2h-2v3h6V37z" style="fill:#d6e0eb"/><path d="M55 37v16h8v-4h-4a2 2 0 0 1-2-2V37z" style="fill:#3f76d4"/><circle cx="52" cy="40" r="1" style="fill:#3f76d4"/><path d="M38 11h2V8l-.17-.17a4.008 4.008 0 0 1-5.66 0L34 8v24h2V13a2 2 0 0 1 2-2z" style="fill:#96272e"/><path d="M38 35a2 2 0 0 1-2-2v-1h-2v6h3a1.959 1.959 0 0 1 2-2h1v-1zM36 61v-5h2v-5a1 1 0 0 1 1-1h1v-3l-.1-.12A4.682 4.682 0 0 1 37 48v6h-3v6a3 3 0 0 0 3 3 3.025 3.025 0 0 0 .55-.055A2 2 0 0 1 36 61z" style="fill:#a8b7d4"/><path d="M30 9v15a4 4 0 0 1-4 4h-5v3h13V9z" style="fill:#b32e37"/><path d="M41 42v2a3.788 3.788 0 0 1-1.1 2.88l.1.12v7h4a1.959 1.959 0 0 0 2-2v-5c-5 0-5-5-5-5zM35 51a2 2 0 0 1-2 2h-2a2 2 0 0 1-2-2v1a2.006 2.006 0 0 0 2 2h6v-4h-2zM35 47a2 2 0 0 1-2 2h-4v1h8v-4h-2zM35 43a2 2 0 0 1-2 2h-4v1h8v-4h-2zM35 38v1a2 2 0 0 1-2 2h-2a2 2 0 0 1-1.929-1.5A1.965 1.965 0 0 0 29 40v2h8v-4z" style="fill:#e68853"/><path style="fill:#e68853" d="M46 38h3v14h-3z"/><path style="fill:#fff" d="m59 11-8 8-4-4 2-2 2 2 6-6 2 2z"/><path d="M53 4a10 10 0 0 1 0 20H43l2.93-2.93A10 10 0 0 1 53 4zm-2 15 8-8-2-2-6 6-2-2-2 2z" style="fill:#01a84e"/><path d="M23 52V41a2.006 2.006 0 0 0-2-2H3a2.006 2.006 0 0 0-2 2v18a2.006 2.006 0 0 0 2 2h18a2.006 2.006 0 0 0 2-2v-4l3-3zm-9.2 4.29a1.8 1.8 0 0 1-3.6 0c0-3.43-4.2-4.58-4.2-8.58A5.865 5.865 0 0 1 12 42a5.865 5.865 0 0 1 6 5.71c0 4-4.2 5.15-4.2 8.58z" style="fill:#4989f4"/><circle cx="12" cy="48" r="2" style="fill:#96272e"/><path d="M12 42a5.865 5.865 0 0 1 6 5.71c0 4-4.2 5.15-4.2 8.58a1.8 1.8 0 0 1-3.6 0c0-3.43-4.2-4.58-4.2-8.58A5.865 5.865 0 0 1 12 42zm2 6a2 2 0 1 0-2 2 2.006 2.006 0 0 0 2-2z" style="fill:#e63b47"/><path d="M12 45a3 3 0 1 0 3 3 3 3 0 0 0-3-3zm0 5a2 2 0 1 1 2-2 2.006 2.006 0 0 1-2 2z" style="fill:#b32e37"/></g></svg>
    </div>
    

    <h2 class="absolute top-8 left-16 text-1xl font-bold leading-5 text-indigo-1000 sm:text-4xl" > OnlyFlags</h2> 

    <div class="mx-auto max-w-2xl lg:text-center">

      <p class="mt-5 text-sm font-semibold tracking-tight text-gray-900 sm:text-4xl">Everything you need to deploy your Flags</p>
      <p class="mt-6 text-lg leading-8 text-gray-600">Quis tellus eget adipiscing convallis sit sit eget aliquet quis. Suspendisse eget egestas a elementum pulvinar et feugiat blandit at. In mi viverra elit nunc.</p>
     
      <button type="submit" class="w-1/3 justify-center rounded-md bg-indigo-500 px-5 py-2.5 mt-10 text-lg font-semibold leading-6 text-indigo-800 shadow-sm hover:bg-indigo-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Create Acount</button>

    </div>
  </div>
</div>
</head>
