<!DOCTYPE html>
<html lang="en">

<head> {{!-- landing page --}}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OnlyFlags</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  {{{ body }}}
</body>