<body>
    


    <div class="bg-white-100">
        <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
          <h2 class="sr-only">Products</h2>
      
          <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
            <a href="#" class="group">
              <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                <img src="https://images.unsplash.com/photo-1694309984301-60e69e095ae7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3086&q=80" alt="Tall slender porcelain bottle with natural clay textured body and cork stopper." class="h-full w-full object-cover object-center group-hover:opacity-75">
              </div>
              <p class="mt-1 text-lg font-medium text-gray-900">
              <p>Ellie Smith, 21</p>
               <p>Pronouns: she/her</p>
               <p>Location: Manhattan</p>
               <p>Green Flag: I have an extensive collection of films from various genres, and I love nothing more than cozying up for a movie night, complete with popcorn and in-depth discussions about the plot, characters, and cinematic techniques.</p>
               <p>Yellow Flag: It is important that people understand the deeper symbolism in films. If you cannot appreciate the intricacies of movie's subtext, we probably won't have much to talk about.</p>
               <p>Red Flag: I expect my partner to watch every movie I recommend.</p>
            </a>
            <a href="#" class="group">
              <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                <img src="https://images.unsplash.com/photo-1499996860823-5214fcc65f8f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2866&q=80" alt="Olive drab green insulated bottle with flared screw lid and flat top." class="h-full w-full object-cover object-center group-hover:opacity-75">
              </div>
              <p class="mt-1 text-lg font-medium text-gray-900">
              <p>Jackson Davis, 35</p>
               <p>Pronouns: he/him</p>
               <p>Location: Brooklyn</p>
               <p>Green Flag: I am financially responsible. I believe in managing money wisely.</p>
               <p>Yellow Flag: The folder in which my investment portfolio is kept is titled "To The Moon".</p>
               <p>Red Flag: I am the owner of an exclusive Bubbles the Chimp NFT issued by the Jackson Estate.</p>
              </p>
            </a>
            <a href="#" class="group">
              <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                <img src="https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3087&q=80" alt="Person using a pen to cross a task off a productivity paper card." class="h-full w-full object-cover object-center group-hover:opacity-75">
              </div>
              <p class="mt-1 text-lg font-medium text-gray-900">
                <p>Alex Miller, 31</p>
               <p>Pronouns: he/him</p>
               <p>Location: Queens</p>
               <p>Green Flag: I prioritize a healthy lifestyle and am super #fit!</p>
               <p>Yellow Flag: I run at least a half marathon a day.</p>
               <p>Red Flag: All of my joints have been replaced and now I am more machine than man.</p>
              </p>
            </a>
            <a href="#" class="group">
              <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                <img src="https://images.unsplash.com/photo-1601412436009-d964bd02edbc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2864&q=80" alt="Hand holding black machined steel mechanical pencil with brass tip and top." class="h-full w-full object-cover object-center group-hover:opacity-75">
              </div>
              <p class="mt-1 text-lg font-medium text-gray-900">
              <p>Charlotte Lewis, 35</p>
               <p>Pronouns: she/her</p>
               <p>Location: Queens</p>
               <p>Green Flag: My music taste is eclectic.</p>
               <p>Yellow Flag: Free bird!!!!!</p>
               <p>Red Flag: Kid Rock has a restraining order on me.</p>
              </p>
            </a>
      
            <!-- More products... -->
          </div>
        </div>
      </div>
</body>