.bg-white{
    background: linear-gradient(-45deg, #79de79, #fcfc99, #fb6962);
    /* background: linear-gradient(-45deg,red,yellow, green);  */

    background-size: 400% 400%;
    animation: gradient 15s ease infinite;

}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    25% {
        background-position: 100% 50%;
    }
    50% {
        background-position: 0% 50%;
    }
    75% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
    
}